<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paper.js Drawing</title>
</head>
<body>

    
<!--    主体功能函数-->
<script type="module" src="./src/main.js"></script>
<!--    测试函数，真实使用的函数-->
    <div id="app">
        <div style="display: flex">
            <div>
                <canvas id="myCanvas1" width="800" height="600"></canvas>
            </div>
            <div style="margin-left: 20px;">
                <template v-for="item in areaList">
                    <el-link  type="success" @click="activateArea(item.name)">{{ item.name }}</el-link>
                    <BR>
                </template>
            </div>
        </div>
        <button @click="drawOne">绘制一个</button>
        <el-switch v-model="drawEnable" @change="toggleDraw" />
    </div>
    <script type="module" src="./src/test.js"></script>
</body>
</html>
